@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: linear-gradient(to left, #dac0ff, #f3eaff, #f2ebfe, #ffffff);
    background-size: cover;
    height: 200vh;
}

.main-heading {
    color: #690cb0;
    font-size: 60px;
    font-weight: bold;
    font-family: "Roboto";
    padding: 10px;
}

.number {
    color: #3e4c59;
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto";
    padding: 10px;
}

.ex-para {
    color: #3e4c59;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto";
    padding: 10px;
}

.image1 {
    height: 70px;
    width: 70px;
    padding: 10px;
}

.box {
    background-color: #f2ebfe;
    padding: 10px;
    margin: 15px;
    border-color: #9aa5b1;
    border-width: 20px;
    border-radius: 20px;
}

.submit-btn {
    color: white;
    background-color: #690cb0;
    border-radius: 5px;
    margin: 10px;
}

.reset-btn {
    color: #323f4b;
    background-color: #ffffff;
    border-radius: 5px;
}
